.two{
    border: none;
    margin-top: 2rem;
}
.plan-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
}
.card-plan h3{
    text-align: center;

}
.card-plan small{
    text-align: center;
    margin: 1rem 0 2rem;
}
.plan p.disabled{
    color: rgba(96, 96, 96, 0.5);
}